<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>white rabbit</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div class="location">
    <div>
        <div class="location__restaurant">
            <a href="http://m99935yr.beget.tech/rabbit/help.html" class="quetions">?</a>
        </div>
        <a href="#" class="location__card">
            <img src="img/logo.svg" alt="logo" class="location__card-logo">
        </a>
        <div class="container">
            <p>
                ВЫ СЕЙЧАС В
            </p>
            <h2 class="title">White Rabbit?</h2>
            <p>
                Смоленская площадь, 3, Москва, эт. 16
            </p>
            <a href="#" class="btn-blue">ПРОДОЛЖИТЬ</a>
        </div>
    </div>
    <a href="http://m99935yr.beget.tech/rabbit/search.html" class="link">ДРУГОЕ МЕСТО</a>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>
</body>
</html>
