<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>white rabbit</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body class="search">
    <section class="container">
        <div class="head">
            <h2 class="title">Где вы находитесь?</h2>
            <a href="#" class="quetions">?</a>
        </div>
        <form class="form-search d-flex">
            <fieldset>
                <input type="text" class="form-search__input">
                <ul class="form-search__list">
                    <li class="form-search__item active">White Rabbit</li>
                    <li class="form-search__item">Selfie</li>
                    <li class="form-search__item">Vogue Cafe</li>
                    <li class="form-search__item">Wine Relligion</li>
                    <li class="form-search__item">Pinch</li>
                    <li class="form-search__item">Турандот</li>
                    <li class="form-search__item">Sixty</li>
                </ul>
            </fieldset>
            <button type="submit" class="btn-blue">ВЫБРАТЬ</button>
        </form>
    </section>


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>
</body>
</html>
